[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mcdabench"]
	path = mcdabench
	url = https://github.com/cagataycebeci/mcdabench
